PUSHN 4
START
PUSHN 5
PUSHS "INTRODUZA UM NUMERO DECIMAL INTEIRO:"
WRITES
WRITELN
READ
ATOI
STOREG 0
PUSHI 2
STOREG 1
DOTEST1:
PUSHI 1
PUSHI 0
SUPEQ
STOREL 0
PUSHL 0
JZ DONEG2
PUSHG 1
PUSHI 9
INFEQ
STOREL 1
PUSHL 1
JZ DOEND4
JUMP DOBODY3
DONEG2:
PUSHG 1
PUSHI 9
SUPEQ
STOREL 2
PUSHL 2
JZ DOEND4
DOBODY3:
PUSHI 0
PUSHG 0
PUSHG 1
PUSHA UNITCONVRT
CALL
POP 2
STOREL 3
PUSHL 3
STOREG 2
PUSHS "BASE "
WRITES
PUSHG 1
WRITEI
PUSHS ": "
WRITES
PUSHG 2
WRITEI
WRITELN
PUSHG 1
PUSHI 1
ADD
STOREL 4
PUSHL 4
STOREG 1
JUMP DOTEST1
DOEND4:
STOP

UNITCONVRT:
PUSHN 11
PUSHI 0
STOREL 4
PUSHI 1
STOREL 3
PUSHL -2
STOREL 1
LABEL20:
PUSHL 1
PUSHI 0
SUP
STOREL 5
PUSHL 5
JZ ELSE5
PUSHL 1
PUSHL -1
MOD
STOREL 6
PUSHL 6
STOREL 2
PUSHL 2
PUSHL 3
MUL
STOREL 7
PUSHL 4
PUSHL 7
ADD
STOREL 8
PUSHL 8
STOREL 4
PUSHL 1
PUSHL -1
DIV
STOREL 9
PUSHL 9
STOREL 1
PUSHL 3
PUSHI 10
MUL
STOREL 10
PUSHL 10
STOREL 3
JUMP LABEL20
ELSE5:
PUSHL 4
STOREL 0
PUSHL 0
STOREL -3
RETURN