PUSHN 3
START
PUSHN 7
PUSHI 5
ALLOCN
STOREG 0
PUSHI 0
STOREG 2
PUSHS "Introduza 5 numeros inteiros:"
WRITES
WRITELN
PUSHI 1
STOREG 1
DOTEST1:
PUSHI 1
PUSHI 0
SUPEQ
STOREL 0
PUSHL 0
JZ DONEG2
PUSHG 1
PUSHI 5
INFEQ
STOREL 1
PUSHL 1
JZ DOEND4
JUMP DOBODY3
DONEG2:
PUSHG 1
PUSHI 5
SUPEQ
STOREL 2
PUSHL 2
JZ DOEND4
DOBODY3:
READ
ATOI
STOREL 3
PUSHG 0
PUSHG 1
PUSHI 1
SUB
PADD
PUSHL 3
STORE 0
PUSHG 0
PUSHG 1
PUSHI 1
SUB
PADD
LOAD 0
STOREL 4
PUSHG 2
PUSHL 4
ADD
STOREL 5
PUSHL 5
STOREG 2
PUSHG 1
PUSHI 1
ADD
STOREL 6
PUSHL 6
STOREG 1
JUMP DOTEST1
DOEND4:
PUSHS "A soma dos numeros e: "
WRITES
PUSHG 2
WRITEI
WRITELN
STOP