PUSHN 4
START
PUSHN 3
PUSHI 2
PUSHI 3
MUL
ALLOCN
STOREG 0
PUSHS "Introduza dois inteiros:"
WRITES
WRITELN
READ
ATOI
STOREG 1
READ
ATOI
STOREG 2
PUSHG 0
PUSHI 1
PUSHI 1
SUB
PUSHI 3
MUL
PUSHI 5
PUSHI 5
SUB
ADD
PADD
PUSHG 1
STORE 0
PUSHG 0
PUSHI 2
PUSHI 1
SUB
PUSHI 3
MUL
PUSHI 7
PUSHI 5
SUB
ADD
PADD
PUSHG 2
STORE 0
PUSHG 0
PUSHI 1
PUSHI 1
SUB
PUSHI 3
MUL
PUSHI 5
PUSHI 5
SUB
ADD
PADD
LOAD 0
STOREL 0
PUSHG 0
PUSHI 2
PUSHI 1
SUB
PUSHI 3
MUL
PUSHI 7
PUSHI 5
SUB
ADD
PADD
LOAD 0
STOREL 1
PUSHL 0
PUSHL 1
ADD
STOREL 2
PUSHL 2
STOREG 3
PUSHS "Soma = "
WRITES
PUSHG 3
WRITEI
WRITELN
STOP