PUSHN 2
START
PUSHN 4
PUSHS "Introduza um inteiro:"
WRITES
WRITELN
READ
ATOI
STOREG 0
PUSHG 0
PUSHI 0
INF
STOREL 0
PUSHL 0
NOT
STOREL 1
PUSHL 1
STOREG 1
PUSHG 0
PUSHI -3
EQUAL
STOREL 2
PUSHG 1
PUSHL 2
OR
STOREL 3
PUSHL 3
JZ ELSE1
PUSHS "Estado aceite"
WRITES
WRITELN
JUMP ENDIF2
ELSE1:
PUSHS "Estado rejeitado"
WRITES
WRITELN
ENDIF2:
STOP