PUSHN 3
START
PUSHN 6
PUSHS "Introduza um numero inteiro positivo:"
WRITES
WRITELN
READ
ATOI
STOREG 0
PUSHI 1
STOREG 2
PUSHI 2
STOREG 1
LABEL20:
PUSHG 0
PUSHI 2
DIV
STOREL 0
PUSHG 1
PUSHL 0
INFEQ
STOREL 1
PUSHL 1
PUSHG 2
AND
STOREL 2
PUSHL 2
JZ ELSE1
PUSHG 0
PUSHG 1
MOD
STOREL 3
PUSHL 3
PUSHI 0
EQUAL
STOREL 4
PUSHL 4
JZ ELSE3
PUSHI 0
STOREG 2
ELSE3:
PUSHG 1
PUSHI 1
ADD
STOREL 5
PUSHL 5
STOREG 1
JUMP LABEL20
ELSE1:
PUSHG 2
JZ ELSE5
PUSHG 0
WRITEI
PUSHS " é um numero primo"
WRITES
WRITELN
JUMP ENDIF6
ELSE5:
PUSHG 0
WRITEI
PUSHS " nao e um numero primo"
WRITES
WRITELN
ENDIF6:
STOP