PUSHI 0
START
PUSHS "Introduza um inteiro:"
WRITES
WRITELN
READ
ATOI
STOREG 0
PUSHG 0
PUSHA UNITESCREVEDOBRO
CALL
STOP

UNITESCREVEDOBRO:
PUSHN 2
PUSHL -1
PUSHL -1
ADD
STOREL 1
PUSHL 1
STOREL 0
PUSHS "Dobro = "
WRITES
PUSHL 0
WRITEI
WRITELN
RETURN