PUSHN 3
START
PUSHN 2
PUSHS "Introduza dois valores reais:"
WRITES
WRITELN
READ
ATOF
STOREG 0
READ
ATOF
STOREG 1
PUSHG 0
PUSHG 1
FADD
STOREL 0
PUSHL 0
PUSHF 2.0
ITOF
FDIV
STOREL 1
PUSHL 1
STOREG 2
PUSHS "Media = "
WRITES
PUSHG 2
WRITEF
WRITELN
STOP